.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1 {
  color: white;
  font-size: 28px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #2E2D4E;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;

  button {
    border-radius: 30px;
    color: white;
    background-color: #8B8AE1;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: ease-in-out 0.2s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      transform: scale(0.98);
    }
  }

  input {
    border: 1px solid #48456C;
    border-radius: 30px;
    height: 40px;
    background-color: #363653;
    color: white;
    font-size: 16px;
    padding-left: 10px;
    outline: none;

    &:focus {
      outline: 2px solid #8B8AE1;
    }

    &::placeholder {
      color: #A9A9C8;
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2E2D4E;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  margin-bottom: 10px;

  div p {
    margin: 5px 0;
    color: white;

    span {
      font-weight: bold;
    }
  }

  button {
    background: none;
    border: none;
    cursor: pointer;

    img {
      width: 20px;
      height: 20px;
      transition: ease-in-out 0.2s;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}