* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#root {
  min-height: 100dvh;
  width: 100%;
  background: linear-gradient(
    180deg,
    #363467 0%,
    rgba(30, 29, 79, 0.8) 100%
  );

  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #363467;
  overscroll-behavior: none;
  overflow-x: hidden;
}
